.form-check {
    font-size: x-large;
}
input[type=radio] {
    align-self: center;
    height: 1.5rem;
    width: 1.5rem;
    margin-left: -1.9rem !important;
}
.bordered {
    position: relative;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgba(0,0,0,.15);
    transition: all .4s ease;
}